body{
    margin: 0;
    background-image: url(/img/handmade-illustration-light-sky-blue-light-yellow-watercolor-background-handmade-illustration-light-sky-blue-light-yellow-153233787.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    background-color: darkblue;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover{
    cursor: pointer;
    background: rgba (0,0,0,0.3) ;
}

.menu ul{
    margin: 0 ;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li{
    text-align: center;
    flex-grow: 1;
}
.menu li:hover{
    background: coral;

}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;

}


@media (max-width:768px){
    header label{
        display: block;
    }
    .menu{
        position: absolute;
        background-color: darkblue;
        width: 70%;
        margin-left: -90%;
    }
    .menu ul{
        flex-direction: column;

    }
    .menu li{
        border-top: 1px solid white;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }
}

main{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}

@media (max-width:768px){
    main{
        width: 98%;
        margin: auto;
        margin-bottom: 10px;
    }
}

footer{
    width: 80%;
    margin: auto;
    height: 100px;
    padding-bottom: 0px;
    border: 2px solid darkblue;
    
}

.background{
    border-top: 2px solid red;
    height: 120px;
    background-image: url(/img/1586872745142.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.fechas{
    display: flex;
    justify-content: space-around;
    height: 250px;
}

@media (max-width:768px){

   .fechas{
       height: 500px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;

   } 
}

h1, h2{
    text-align: center;
    color: coral;
}
.fecha1{
    border: 1px solid blue;
    text-align: center;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: white;
    background-color: blue;
    padding: 15px 10px 15px 10px;
    border-radius: 10%;
}

.boton{
    width: 160px;
    height: 50px;
    border-radius: 10%;
}

.fecha2{
    border: 1px solid blue;
    text-align: center;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: white;
    background-color: blue;
    padding: 15px 10px 15px 10px;
    border-radius: 10%;
}

.fecha1:hover{
    background-color: coral;
}
.fecha2:hover{
    background-color: coral;
}

.ppag{
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: white;
    padding: 0px;
}
.ppolitica{
width: 200px;
text-align: center;
}

.pcontacto{
    display: flex;
    text-align: center;
}


.fondo{
    background-color: white;
    width: 90%;
}

@media (max-width:768px){

    footer{
        width: 98%;
        margin: auto;
        font-size: 12px;
    }


}

.cabecera p{
    text-align: center;
}

.mentores, .mentores2, .mentores3{

}
    .mentor, .mentor2, .mentor3{
        display: flex;

}

.fotomentor, .fotomentor2, .fotomentor3{
    border-radius: 50%;
    transition: 0,5s;
}

.fotomentor:hover{
    transform: scale(1.5);
}
.fotomentor2:hover{
    transform: scale(1.5);
}

.fotomentor3:hover{
    transform: scale(1.5);
}


.biografia, .biografia2, .biografia3{
    margin-top: 30px;
    margin-left: 20px;
    height: 120px;
    padding-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nombre, .nombre2, .nombre3{
    color: blue;
    font-size: 2.2em;
font-style: italic;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

@media (max-width:768px){
    .mentores{
        height: 180px;
        
    }
    .fotomentor{
        box-sizing: border-box;
    float: right;
    width: 80px;
    height: 80px;
    }
    .biografia{
        height: 180px;
        margin-top: 0px;
        margin-left: 5px;
    }
}
@media (max-width:768px){
    .mentores2{
        height: 260px;
    }
    .fotomentor2{
        box-sizing: border-box;
    float: right;
    width: 80px;
    height: 80px;
    }
    .biografia2{
        height: 260px;
        margin-top: 0;
        margin-left: 5px;
    }
}
@media (max-width:768px){
    .mentores3{
        height: 220px;
        
    }
    .fotomentor3{
        box-sizing: border-box;
    float: right;
    width: 80px;
    height: 80px;
    }
    .biografia3{
        height: 220px;
        margin-top: 0px;
        margin-left: 5px;
    }
    .nombre3{
        margin-top: 0px;
        padding-top: 0px;
    }
}
